/* GENERIC */

.wrapper {
    padding: 0 6vw;
}

.reduced-spacing.footer-top-visible .footer-nav-widgets-wrapper, .reduced-spacing.footer-top-hidden #site-footer {
    border-top-width: 0rem;
}

.article-description-column{
    padding: 3vh 3vw;
}

.article-description-column > p{
    font-family: 'Roboto', sans-serif;
}

@media (min-width: 700px){
    h4, .heading-size-4, h5, .heading-size-5, h6, .heading-size-6 {
        margin: 1.5rem auto 2rem;
    }
}