/* WYSIWYG */

.wysiwyg h1 + h2,
.wysiwyg h1 + h3,
.wysiwyg h1 + h4,
.wysiwyg h1 + h5,
.wysiwyg h1 + h6,
.wysiwyg h1 + p {
    margin-top : 30px;
}

.wysiwyg li {
    list-style-type: none;
    margin: 0;
}

.wysiwyg li + li {
    margin-top : 15px;
}

